/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

/* -- Fonts -- */
@font-face {
    font-family: 'CubanoRegular';
    src: url('cubano/cubano-regular-webfont.eot');
    src: url('cubano/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cubano/cubano-regular-webfont.woff') format('woff'),
         url('cubano/cubano-regular-webfont.ttf') format('truetype'),
         url('cubano/cubano-regular-webfont.svg#CubanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('raleway/raleway_thin-webfont.eot');
    src: url('raleway/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway_thin-webfont.woff') format('woff'),
         url('raleway/raleway_thin-webfont.ttf') format('truetype'),
         url('raleway/raleway_thin-webfont.svg#RalewayThin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('crimson/Crimson-Roman-webfont.eot');
    src: url('crimson/Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson/Crimson-Roman-webfont.woff') format('woff'),
         url('crimson/Crimson-Roman-webfont.ttf') format('truetype'),
         url('crimson/Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('crimson/Crimson-BoldItalic-webfont.eot');
    src: url('crimson/Crimson-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson/Crimson-BoldItalic-webfont.woff') format('woff'),
         url('crimson/Crimson-BoldItalic-webfont.ttf') format('truetype'),
         url('crimson/Crimson-BoldItalic-webfont.svg#CrimsonBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('crimson/Crimson-Italic-webfont.eot');
    src: url('crimson/Crimson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson/Crimson-Italic-webfont.woff') format('woff'),
         url('crimson/Crimson-Italic-webfont.ttf') format('truetype'),
         url('crimson/Crimson-Italic-webfont.svg#CrimsonItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('crimson/Crimson-Bold-webfont.eot');
    src: url('crimson/Crimson-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimson/Crimson-Bold-webfont.woff') format('woff'),
         url('crimson/Crimson-Bold-webfont.ttf') format('truetype'),
         url('crimson/Crimson-Bold-webfont.svg#CrimsonSemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
/* -- */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family:Helvetica, arial, sans-serif; color: #252525; }
body { margin: 0; font-size: 1em; line-height: 1.4; min-width:1024px;}

/*::-moz-selection { background: #f0f; color: #ff0; text-shadow: none; }
::selection { background: #f0f; color: #ff0; text-shadow: none; }*/

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #f75c26; }
a:focus { }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin:0; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* -- Columns -- */

.col1{width:150px;min-height:1px;float:left;padding:0 10px;}
.col2{width:320px;min-height:1px;float:left;padding:0 10px;}
.col3{width:490px;min-height:1px;float:left;padding:0 10px;}
.col4{width:660px;min-height:1px;float:left;padding:0 10px;}
.col5{width:830px;min-height:1px;float:left;padding:0 10px;}
.col6{width:1000px;min-height:1px;float:left;padding:0 10px;}
.colL{padding-left:0 !important;}
.colR{padding-right:0 !important;}
.clear { clear: both; }

.right{float:right !important;}
.noPadding{padding:0 !important;}

em{font-weight:bold;color:#414141;}
b{color:#444;}

sup a{color:#1f7291 !important;font-weight:bold;}
	sup a:hover{color:#000 !important;}

/* ===== Primary Styles ===== */

/* -- Global Wrappers -- */
.globalWrapper{
	width:1000px;
	padding:0 10px;
	margin:0 auto;
	}
	
	p,blockquote{	
		font-family:'Crimson Text', serif;
		font-weight:400;
		font-size:18px;
		color:#252525;
		line-height:24px;
		}
	blockquote{
		text-indent:-0.32em;
		}

	div.section{
		color:#fff;
		font-size:10px;
		background:#ed1c24;
		width:22px;
		height:17px;
		border-radius:11px;
		text-align:center;
		padding-top:5px;
		}

/* -- Table of Contents -- */
#tableOfContents{  
	width:320px;
	color:#fff;
	float:left;
	position: fixed;
	z-index:9998;
	font-size:13px;
	font-weight:normal;
	}
	
	#tableOfContents h2{
		font-family:"Helvetica",Arial,sans-serif;
		padding:0;
		font-size:13px;
		font-weight:lighter;
		margin:0 !important;
		line-height:18px;
		z-index:9999;
		position: relative;
		background:#ed1c24;
		}
		#tableOfContents h2 a{
			background:url('../img/tocArrow.jpg') no-repeat top left;
			padding:8px 0 8px 50px;
			width:270px;
			display:block;
			}
			#tableOfContents h2 a:hover{
				background:url('../img/tocArrow.jpg') no-repeat top left #ca0c13;
				background-position:0 -36px;
				}
	
	#tableOfContents a{
		color:#fff;
		text-decoration:none;
		width:280px;
		padding:6px 10px;
		margin:0;
		display:block;
		}
		#tableOfContents a:hover{
			background:#333;
			}
			
	.sectionsWrapper{
		padding-left:40px;
		background:transparent;
		position:absolute;
		width:280px;
		top:0;
		visibility: hidden;

		}		
	#tableOfContents dl{
		margin:0;
		overflow: hidden;
				background:#000;
		
		padding:0 0 20px 0;
		width:280px;
		z-index:9998;
		}
		#tableOfContents dl.closed{}
		
	#tableOfContents dt{
		padding:0;
		font-weight:bold;
		}
	
	.subsectionContent{
		display: none;
		}
		
	.subsectionContent dd a{
		color:#ddd !important;
		padding-left:25px !important;
		}

.socialSharing{ float:right;list-style-type: none;margin:10px 0 0;padding:0;}
.platform{
	float:left;
	margin:0 0 0 20px;
	padding:0;
	display:block;
	}

/* -- Header -- */

h1{
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size:110px;
	color:#656565;
	font-weight:100;
	line-height:120px;
	float:left;
	margin-bottom:40px;
	}

#author{
	float:right;
	margin:-95px 60px 0 0;
	font-size:11px;
	}


/* -- Global Page Styles -- */

h2{
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:100;
	color:#656565;
	font-size:100px;
	line-height:120px;
	margin:0 0 80px;
	}

h3{
	font-family:'Crimson Text', serif;
	font-weight:400;
	font-size:31px;
	line-height:normal;
	color:#000;
	letter-spacing:-1px;
	margin:-12px 0 10px;
	}

h4{
	font-family:"Helvetica",sans-serif;
	font-size:14px;
	color:#ed1c24;
	font-weight:bold;
	line-height:25px;
	letter-spacing:normal;
	margin:0 0 30px;
	}

p.text{
	}

p.subText{
	color:#6a6a6a;
	font-size:15.5px;
	line-height:19px;
	margin:10px 0;
	}

/* -- Section 1 -- */
#section1 h2{
	font-family:'Crimson Text', serif;
	font-weight:400;
	font-size:31px;
	line-height:normal;
	color:#000;
	letter-spacing:-1px;
	margin:-12px 0 10px;
	}
	.phonetic{
		color:#bababa;
		font-style:italic;
		}

.largeSpace{
	margin:80px 0;
	}

#tooltipNote{
	background:url('../img/tooltipNote.jpg') no-repeat;
	width:218px;
	height:19px;
	display:inline-block;
	vertical-align: middle;
	}

#dieterRamsPhoto{
	width:257px;
	height:257px;
	margin:0 auto;
	float:left;
	background:url('../img/dieterRamsPhoto.jpg') no-repeat;
	}
	
.principles{
	list-style-type: none;
	margin-bottom:80px;
	}
	.principles li{
		float:left;
		margin:10px 5px;
		background:#fafafa;
		border-radius:9px;
		border:4px solid #fff;
		box-shadow:0 1px 3px #ddd;
		}
		.principles li:hover{
			background:#fff;
			box-shadow:0 2px 4px #bbb;
			}
	.principles h3{
		font-family:"Helvetica",sans-serif;
		font-size:14px;
		color:#ed1c24;
		font-weight:bold;
		line-height:normal;
		letter-spacing:normal;
		}
		.principles p{
			display:none;
			font-family:'Crimson Text', serif;
			font-weight:400;
			font-size:14px;
			color:#3f3f3f;
			line-height:15px;
			}
			
	.principles li a{
		padding:78px 0 20px;
		width:148px;
		height:22px;
		margin-top:25px;
		text-align:center;
		display:block;
		text-decoration:none;
		color:#454545;
		}
		.principles li a:hover{
			
			}
	#dr1{background:url('../img/dr/innovative.png') no-repeat top center;}
	#dr2{background:url('../img/dr/useful.png') no-repeat top center;}
	#dr3{background:url('../img/dr/aesthetic.png') no-repeat top center;}
	#dr4{background:url('../img/dr/understandable.png') no-repeat top center;}
	#dr5{background:url('../img/dr/unobtrusive.png') no-repeat top center;}
	#dr6{background:url('../img/dr/honest.png') no-repeat top center;}
	#dr7{background:url('../img/dr/longlasting.png') no-repeat top center;}
	#dr8{background:url('../img/dr/thorough.png') no-repeat top center;}
	#dr9{background:url('../img/dr/environmental.png') no-repeat top center;}
	#dr10{background:url('../img/dr/littledesign.png') no-repeat top center;}
	
#braunApple img{
	width:320px;
	height:225px;
	}

#ramsProducts img{
	width:280px;
	height:278px;
	}

#sec1Summary{
	text-align:left;
	width:1000px;
	background:#efefef;
	padding:30px 0 0;
	margin:120px auto;
	height:192px;
	}
	#sec1Summary p{
		margin-top:0px;
		color:#000;
		}
	#paintCan{
		background:url('../img/paintCan.jpg') no-repeat top center #fff;
		width:320px;
		height:222px;
		margin-top:-30px;
		}
		p.caption{
			float:right;
			font-style:italic;
			font-size:13px;
			margin-top:0 !important;
			line-height:14px;
			text-align:right;
			color:#bbb !important;
			}
			p.caption a{
				color:#bbb;
				}
				p.caption a:hover{color:#000;}

#objVideo{
	margin:-45px 0 120px;
	}
	
.slideshow{
	margin:0 auto;
	}


/* -- Section 2 -- */
#section2{
	margin:200px 0 100px;
	}
	
#designPoster{
	margin-top:56px;
	background:url('../img/dylan-glaser.jpg') no-repeat;
	width:320px;
	height:487px;
	}
#ixdGraphic{
	margin:65px 0 0 14px;
	background:url('../img/ux-verplank.jpg') no-repeat;
	width:295px;
	height:420px;
	}
#uxDesign{
	margin-top:62px;
	background:url('../img/tapbots.jpg') no-repeat;
	width:294px;
	height:359px;
	}
#industrialDesign{
	margin-top:100px;
	background:url('../img/pantonChair.jpg') no-repeat;
	width:253px;
	height:290px;
	}

/* -- Section 3 -- */
#section3{
	height:2304px; /* (x * 72) */
	background:url('../img/sec3bg.jpg') repeat #f9f9f9;
	padding:72px 0;
	}

#sec3bottom{
	height:145px;
	background:url('../img/sec3bottom.jpg') repeat-x #f9f9f9;
	}
#sec3top{
	height:144px;
	background:url('../img/sec3top.jpg') repeat-x #f9f9f9;
	margin:0;
	padding:0;
	}

#section3 .chart{
	height:430px;
	margin:20px 0 100px;
	}

/* -- Section 4 -- */
#section4{
	margin-top:100px;
	}

/*
#section4 h2{
	color:#ee621c;
	font-family:"CubanoRegular","Helvetica",sans-serif;
	font-size:55px;
	font-weight:normal;
	margin:-30px 0 0;
	}
*/

/*
#section4 h3{
	color:#ee621c;
	font-family:"CubanoRegular","Helvetica",sans-serif;
	font-size:24px;
	font-weight:normal;
	letter-spacing: normal;
	}
*/

#triforce{
	margin:100px 0 500px;
	}
	#triforceDrag{
		float:left;
		width:160px;
		height:208px;
		margin-left:80px;
		margin-top:80px;
		background:url('../img/link.gif') no-repeat;
		text-align:right;
		}
	#triforceDrop{
		width:300px;
		height:160px;
		background:url('../img/triforceIncomplete.jpg') no-repeat top center;
		display:block;
		float:right;
		margin-right:90px;
		padding:0 0 130px;
		font-size:0px;
		font-family:"CubanoRegular","Helvetica",sans-serif;
		font-weight:normal;
		color:#ee621c;
		text-align:center;
		}
		#triforceDropz{
			-webkit-box-shadow: #faaa3b 0 0 0,#faaa3b 0 0 0,#faaa3b 0 0 0; 
   			width:80px;
    		height:80px;
    		border-radius:80px;
    		margin:65px 0 0 110px;
			}
		#dragText{
			font-family:"CubanoRegular","Helvetica",sans-serif;
			color:#ddd;
			font-size:18px;
			}



#totalWrapper{
	width:100%;
	min-width:1024px;
	position:absolute;
	text-align:center;
	background:#efefef;
	height:730px;
	left:0;
	margin-top:40px;
	}
#founderThumbsBg{
	width:100%;
	background:#212121;
	left:0;
	height:200px;
	position:absolute;
	}
#scroll{
	width:1000px;
	text-align:center;
	overflow:hidden;
	height:700px;
	position:relative;
	margin:0 auto;
	}

#designerFounders{
	width:1000px;
	padding:0;
	margin:0 auto;
	}
	#designerFounders li{
		display:block;
		width:200px;
		height:200px;
		float:left;
		}
	#designerFounders p{
		text-align:center;
		font-family:"CubanoRegular","Helvetica",sans-serif;
		font-size:20px;
		color:#fff;
		padding:0;
		margin:10px;
		}
	.df_DaveMorin{	
		background:url('../img/df_DaveMorin.jpg') no-repeat;
		}
	.df_JoeGebbia{	
		background:url('../img/df_JoeGebbia.jpg') no-repeat;
		}
	.df_JackDorsey{	
		background:url('../img/df_JackDorsey.jpg') no-repeat;
		}
	.df_MikeMatas{	
		background:url('../img/df_MikeMatas.jpg') no-repeat;
		}
	.df_JeffVeen{	
		background:url('../img/df_JeffVeen.jpg') no-repeat;
		}
		
		#designerFounders a{
			display:block;
			width:200px;
			height:140px;
			padding-top:60px;
			background:url('../img/hover_bg2.png') repeat;
			text-indent:-9999px;
			}
			#designerFounders a:hover{
				background:url('../img/hover_bg.png') repeat;
				text-decoration:none;
				text-indent:0;
				}
			#designerFounders .active a{
				background:none;
				text-decoration:none;
				height:133px;
				border-bottom:7px solid #ed1c24;
				cursor:pointer;
				}
			
			#designerFounders a:hover{
				text-decoration:none;
				height:133px;
				border-bottom:7px solid #ed1c24;
				cursor:pointer;
				}
			
				#designerFounders .active a:hover{
					background:none !important;
					text-indent:-9999px;
					}

#founderBios{
	width:9999em;
	position:absolute;
	height:700px;
	margin-top:30px;
	}

.founderBio{
	text-align:left;
	width:1000px;
	padding:0 10px;
	float:left;
	}
	.founderBio h3{
		float:left;
		width:350px;
		margin:-33px 0 0 35px;
		}	
	.founderBio .section{
		float:left;
		margin-top:5px;
		}
	.founderBio iframe, .founderBio object, .founderBio embed{
		margin-top:25px;
		}
			
	/* -- Social Link Buttons -- */
	/* Icons designed by Rogie King: http://www.finegoodsmarket.com/ -- */
	.socialLinks{
		list-style-type:none;
		margin:0;
		padding:0;
		}
	.socialLinks li{
		float:left;
		margin-right:30px;
		}
	.socialLinks li a{
		text-indent:-9999px;
		display:block;
		width:32px;
		height:32px;
		margin-bottom:1px;
		}
		.socialLinks li a:hover{
			margin:1px 0 0;
			}
	.tw{background:url('../img/rogieSocial/twitter.png') no-repeat;}
	.db{background:url('../img/rogieSocial/dribbble.png') no-repeat;}
	.www{background:url('../img/rogieSocial/link.png') no-repeat;}
	.zp{background:url('../img/rogieSocial/zerply.png') no-repeat;}
	.path{background:url('../img/rogieSocial/path.png') no-repeat;}
	.airb{background:url('../img/rogieSocial/airbnb.png') no-repeat;}
	.pushp{background:url('../img/rogieSocial/pushpop.png') no-repeat;}
	.tkit{background:url('../img/rogieSocial/typekit.png') no-repeat;}
	.crunch{background:url('../img/rogieSocial/crunchbase.png') no-repeat;}
	.square{background:url('../img/rogieSocial/square.png') no-repeat;}

	#navButtons{
		position:relative;
		float:right;
		margin-top:450px;
		}
		#navButtons div{
			float:left;
			height:32px;
			font-family:"CubanoRegular","Helvetica",sans-serif;
			font-size:14px;
			color:#666;
			padding:14px 40px 0;
			}
			#navButtons div:hover{
				margin-top:1px;
				cursor:pointer;
				}
			#navButtons .prev{
				background:url('../img/prev.png') no-repeat top;
				background-position: left;
				}
			#navButtons .next{
				background:url('../img/next.png') no-repeat top;
				background-position:right;
				}

#linkSword{
	margin-top:50px;
	position:relative;
	z-index:999;
	width:291px;
	height:108px;
	background:url('../img/linkSword.png') no-repeat;
	}
#linkLike{
	position:relative;
	z-index:-1;
	padding:43px 0 0 20px;
	margin-top:-108px;
	width:291px;
	height:65px;
	color:#aaa;
	background:url('../img/linkSwordBg.png') no-repeat;
	}

.oversize{
	font-size:23px;
	line-height:28px;
	color:#444;
	}

.bigRed{
	color:#ed1c24;
	}
	.bigRed a{
		color:#ed1c24;
		}
	.bigRed a:hover{
		color:#000;
		}
	
/* -- Section 5 -- */
#sec5top{
	background:url('../img/sec5top.jpg') repeat-x;
	height:81px;
	margin-top:75px;
	}
#sec5bottom{
	background:url('../img/sec5bottom.jpg') repeat-x;
	height:81px;
	margin:0;
	padding:0;
	}
#section5{
	background:url('../img/sec5bg.jpg') repeat;
	margin:0;
	padding:20px 0 0;
	height:3460px;
	}

p{
	color:#555;
	}

.orangeLinks a{
	color:#f75c26;
	}
	.orangeLinks a:hover{
		color:#000;
		}

.goToDesigners{
	text-align:center;
	height:82px;
	margin:80px 0 40px;
	padding-left:20px;
	}
	.goToDesigners a{
		margin-bottom:1px;
		text-indent:-9999px;
		display:block;
		float:left;
		}
		.goToDesigners a:hover{
			margin:1px 0 0;
			}
	#plancastLogo{
		width:50px;
		height:61px;
		background:url('../img/plancast_logo.png') no-repeat;
		}
	#meetupLogo{
		width:89px;
		height:61px;
		background:url('../img/meetup_logo.png') no-repeat;
		}
	#eventbriteLogo{
		width:55px;
		height:61px;
		background:url('../img/eventbrite_logo.png') no-repeat;
		}
	#zerplyLogo{
		width:228px;
		height:82px;
		background:url('../img/zerply_logo.png') no-repeat;
		}
	#dribbbleLogo{
		width:253px;
		height:64px;
		background:url('../img/dribbble_logo.png') no-repeat;
		}
	#behanceLogo{
		text-indent:-9999px;
		display:block;
		width:320px;
		height:320px;
		background:url('../img/behance_logo.png') no-repeat center center;
		}

#unicorn{
	margin-top:180px;
	background:url('../img/unicorn.png') no-repeat top center;
	width:330px;
	height:290px;
	}


#resources{
	list-style-type:none;
	width:1020px;
	margin:40px 0 0 -50px;
	}
	#resources li{
		float:left;
		}
	
	#resources li a{
		display:block;
		width:150px;
		height:155px;
		text-indent:-9999px;
		padding:15px 10px 0;
		font-family:"Crimson Text","Helvetica",sans-serif;
		font-size:16px;
		line-height:20px;
		color:#fff;
		text-decoration:none;
		}
	
	#TDF{background:url('../img/rsrc_designerFund.jpg') no-repeat;background-size:170px 170px;}
		#TDF:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_designerFund.jpg') no-repeat;background-size:170px 170px;}
	#CM{background:url('../img/rsrc_creativeMornings.jpg') no-repeat;background-size:170px 170px;}
		#CM:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_creativeMornings.jpg') no-repeat;background-size:170px 170px;}
	#TDO{background:url('../img/rsrc_designObserver.jpg') no-repeat;background-size:170px 170px;}
		#TDO:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_designObserver.jpg') no-repeat;background-size:170px 170px;}
	#ALA{background:url('../img/rsrc_aListApart.jpg') no-repeat;background-size:170px 170px;}
		#ALA:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_aListApart.jpg') no-repeat;background-size:170px 170px;}
	#SM{background:url('../img/rsrc_swissMiss.jpg') no-repeat;background-size:170px 170px;}
		#SM:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_swissMiss.jpg') no-repeat;background-size:170px 170px;}
	#ILT{background:url('../img/rsrc_iLoveTypography.jpg') no-repeat;background-size:170px 170px;}
		#ILT:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_iLoveTypography.jpg') no-repeat;background-size:170px 170px;}
		
	#TK{background:url('../img/rsrc_typeKit.jpg') no-repeat;background-size:170px 170px;}
		#TK:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_typeKit.jpg') no-repeat;background-size:170px 170px;}
	#GA{background:url('../img/rsrc_generalAssembly.jpg') no-repeat;background-size:170px 170px;}
		#GA:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_generalAssembly.jpg') no-repeat;background-size:170px 170px;}
	#OCTB{background:url('../img/rsrc_ourChoice.jpg') no-repeat;background-size:170px 170px;}
		#OCTB:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_ourChoice.jpg') no-repeat;background-size:170px 170px;}
	#TKG{background:url('../img/rsrc_kerningGame.jpg') no-repeat;background-size:170px 170px;}
		#TKG:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_kerningGame.jpg') no-repeat;background-size:170px 170px;}
	#DBBB{background:url('../img/rsrc_dribbble.jpg') no-repeat;background-size:170px 170px;}
		#DBBB:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_dribbble.jpg') no-repeat;background-size:170px 170px;}
	#HEL{background:url('../img/rsrc_helvetica.jpg') no-repeat;background-size:170px 170px;}
		#HEL:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_helvetica.jpg') no-repeat;background-size:170px 170px;}
	
	#SMAG{background:url('../img/rsrc_smashingMagazine.jpg') no-repeat;background-size:170px 170px;}
		#SMAG:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_smashingMagazine.jpg') no-repeat;background-size:170px 170px;}
	#OBJ{background:url('../img/rsrc_objectified.jpg') no-repeat;background-size:170px 170px;}
		#OBJ:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_objectified.jpg') no-repeat;background-size:170px 170px;}
	#TED{background:url('../img/rsrc_ted.jpg') no-repeat;background-size:170px 170px;}
		#TED:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_ted.jpg') no-repeat;background-size:170px 170px;}
	#ZRP{background:url('../img/rsrc_zerply.jpg') no-repeat;background-size:170px 170px;}
		#ZRP:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_zerply.jpg') no-repeat;background-size:170px 170px;}
	#C77{background:url('../img/rsrc_core77.jpg') no-repeat;background-size:170px 170px;}
		#C77:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_core77.jpg') no-repeat;background-size:170px 170px;}
	#FIVE{background:url('../img/rsrc_500.jpg') no-repeat;background-size:170px 170px;}
		#FIVE:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_500.jpg') no-repeat;background-size:170px 170px;}
	
	#AIGA{background:url('../img/rsrc_aiga.jpg') no-repeat;background-size:170px 170px;}
		#AIGA:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_aiga.jpg') no-repeat;background-size:170px 170px;}
	#ATP{background:url('../img/rsrc_aTypePrimer.jpg') no-repeat;background-size:170px 170px;}
		#ATP:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_aTypePrimer.jpg') no-repeat;background-size:170px 170px;}
	#LTC{background:url('../img/rsrc_lostType.jpg') no-repeat;background-size:170px 170px;}
		#LTC:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_lostType.jpg') no-repeat;background-size:170px 170px;}
	#THR{background:url('../img/rsrc_37signals.jpg') no-repeat;background-size:170px 170px;}
		#THR:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_37signals.jpg') no-repeat;background-size:170px 170px;}
	#GOOD{background:url('../img/rsrc_good.jpg') no-repeat;background-size:170px 170px;}
		#GOOD:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_good.jpg') no-repeat;background-size:170px 170px;}
	#BH{background:url('../img/rsrc_behance.jpg') no-repeat;background-size:170px 170px;}
		#BH:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_behance.jpg') no-repeat;background-size:170px 170px;}
	#BBETA{background:url('../img/rsrc_bbeta.jpg') no-repeat;background-size:170px 170px;}
		#BBETA:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_bbeta.jpg') no-repeat;background-size:170px 170px;}
	#BBSC{background:url('../img/rsrc_bbsc.jpg') no-repeat;background-size:170px 170px;}
		#BBSC:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_bbsc.jpg') no-repeat;background-size:170px 170px;}
	#DTB{background:url('../img/rsrc_dtb.jpg') no-repeat;background-size:170px 170px;}
		#DTB:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_dtb.jpg') no-repeat;background-size:170px 170px;}
	#FOLYO{background:url('../img/rsrc_folyo.jpg') no-repeat;background-size:170px 170px;}
		#FOLYO:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_folyo.jpg') no-repeat;background-size:170px 170px;}

	#resources li a:hover{
		-webkit-transition: -webkit-transform 0.2s ease,-webkit-box-shadow 0.2s ease;
		-webkit-transform:scale(1.05);
		-webkit-box-shadow:0 15px 20px #000;
		-moz-transition: -moz-transform 0.2s ease,-moz-box-shadow 0.2s ease;
		-moz-transform:  scale(1.05);
		-moz-box-shadow:0 15px 20px #000;
		text-indent:0;
		cursor:pointer;
		}

/* -- Section 6 -- */
#section6{
	background:url('../img/sec6bg.png') repeat;
	width:968px;
	margin:-170px 0 120px -10px;
	border:3px solid #fff;
	border-radius:3px;
	box-shadow:0 1px 2px #999;
	padding:24px;
	min-height:326px;
	}

#section6 h2{
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size:54px;
	float:left;
	margin:0 0 20px 0;
	line-height:normal;
	}

#section6 .me{
	margin-top:20px;
	box-shadow:0 1px 2px #bbb;
	}


.socialShare{
	padding:0;
	margin:0;
	float:right;
	list-style-type:none;
	}

.socialShare li{
	float:left;
	margin:0;
	}

.socialShare a{
	width:125px;
	height:46px;
	display:block;
	text-indent:-9999px
	}
.socialShare .shareFb{
	background:url('../img/shareFb.png') no-repeat;
	}
	.socialShare .shareFb:hover{
		background-position:0 -46px;
		}
	.socialShare .shareFb:active{
		background-position:0 -92px;
		}
.socialShare .shareTw{
	background:url('../img/shareTw.png') no-repeat;
	}
	.socialShare .shareTw:hover{
		background-position:0 -46px;
		}
	.socialShare .shareTw:active{
		background-position:0 -92px;
		}
.socialShare .shareCount{
	background:url('../img/shareBubble.png') no-repeat;
	width:75px;
	height:34px;
	font-family:"Helvetica",Arial,sans-serif;
	color:#5a5a5a;
	font-weight:600;
	text-align:center;
	padding:12px 0 0 5px;
	margin:0 34px 0 0 !important;
	}
	
.socialShareSmall{
	padding:0;
	margin:10px 0 0;
	float:right;
	list-style-type:none;
	}

.socialShareSmall li{
	float:left;
	margin:0;
	}

.socialShareSmall a{
	width:61px;
	height:23px;
	display:block;
	text-indent:-9999px
	}
.socialShareSmall .shareFb{
	background:url('../img/shareFb@0x.png') no-repeat;
	}
	.socialShareSmall .shareFb:hover{
		background-position:0 -23px;
		}
	.socialShareSmall .shareFb:active{
		background-position:0 -46px;
		}
.socialShareSmall .shareTw{
	background:url('../img/shareTw@0x.png') no-repeat;
	}
	.socialShareSmall .shareTw:hover{
		background-position:0 -23px;
		}
	.socialShareSmall .shareTw:active{
		background-position:0 -46px;
		}
.socialShareSmall .shareCount{
	background:url('../img/shareBubble@0x.png') no-repeat;
	width:50px;
	height:23px;
	font-family:"Helvetica",Arial,sans-serif;
	color:#5a5a5a;
	font-weight:600;
	text-align:center;
	padding:3px 0 0 3px;
	margin:0 17px 0 2px !important;
	font-size:12px;
	}	



/* -- Section 7 -- */
#section7{
	}
#section7 h2{
	font-size:48px;
	line-height:normal;
	}

.acknowledgements{
	list-style-type:none;
	color:#666;
	margin:0;
	padding:0;
	}
	.acknowledgements li{
		margin-bottom:10px;
		}

#section7 p{
	font-family:"Helvetica",sans-serif;
	color:#666;
	font-size:15px;
	margin:127px 0 -8px;
	}
#section7 ol{
	margin-left:0;
	padding-left:0;
	color:#ccc;
	}
#section7 li{
	font-size:15px;
	margin-bottom:10px;
	}
	#section7 li:target{
		background:#def;
		border-radius:0 12px 12px 0;
		}
		#section7 li:target a{
			color:#335c8d;
			}
		#section7 li:target + a{
			display:block;
			}
	#section7 li a{
		color:#666;
		text-decoration:none;
		}
		#section7 li a:hover{
			color:#000;
			text-decoration:underline;
			}
		#section7 .jumpBack{
			display:none;
			float:left;
			margin:-31px 0 0 -120px;
			padding:2px 10px;
			font-size:12px;
			color:#335c8d;
			background:#def;
			border-radius:12px 0 0 12px;
			text-decoration:none;
			}
			#section7 .jumpBack:hover{
				color:#000;
				text-decoration:underline;
				}



/* -- Footer -- */
footer{
	width:1000px;
	margin:100px auto 30px;
	padding:30px 0 0 10px;
	color:#666;
	font-size:14px;
	border-top:1px solid #ddd;
	}


#preload{	display:none;	}

/* -- Tooltips -- */
.tip{
	background:#fffdcc;
	padding:1px 2px;
	text-decoration:none;
	margin:0 -2px;
	color:inherit;
	}
	.tip.dark{
		background:url('../img/highlight_dark.png') repeat;
		}
	.tip:hover{
		text-decoration:none;
		color:#746d00;
		}

.ui-tooltip{
	border:4px solid #fff;
	border-radius:5px;
	}

.ui-tooltip-wiki{
	max-width: 600px;
}

	.ui-tooltip-wiki .ui-tooltip-content{
		padding:0 25px 20px;
		background-color:#f9f9f9 !important;
		border:0;
	}
	
	.ui-tooltip-wiki .tooltip-content{
		float:left;
		}
	
	
	.ui-tooltip-wiki h6{
		font-family: 'Raleway', Helvetica, sans-serif;
		font-size:30px;
		color:#333;
		font-weight:100;
		margin:10px 0 30px;
	}
	
	.ui-tooltip-wiki p, .ui-tooltip-wiki li{
		font-family:'Crimson Text', serif;
		font-size:16px;
		line-height:18px;
		color:#666;
		margin-left:222px;
		}
		.ui-tooltip p.principleContent{
		margin-left:0;
		width:210px;
			}
	
	.ui-tooltip-wiki ul{
		margin:0 0 30px -20px;
		}
	
	.ui-tooltip-wiki img{
		float:left;
		margin-top:50px;
		padding: 0 30px 0 0;
	}
	.ui-tooltip-titlebar{
		background:#f9f9f9 !important;
		border:0;
		}


/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* High Resolution Screens (Retina iPad / iPhone) */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
	#tableOfContents h2 a{background:url('../img/tocArrow@2x.jpg') no-repeat top left;background-size:40px 72px;}
	#tableOfContents h2 a:hover{background:url('../img/tocArrow@2x.jpg') no-repeat top left #ca0c13;background-size:40px 72px;}
	
	
	#tooltipNote{background:url('../img/tooltipNote@2x.jpg') no-repeat;background-size:218px 19px;}

	#dieterRamsPhoto{background:url('../img/dieterRamsPhoto@2x.jpg') no-repeat;background-size:257px;}

	#dr1{background:url('../img/dr/innovative@2x.png') no-repeat top center;background-size:64px;}
	#dr2{background:url('../img/dr/useful@2x.png') no-repeat top center;background-size:64px;}
	#dr3{background:url('../img/dr/aesthetic@2x.png') no-repeat top center;background-size:64px;}
	#dr4{background:url('../img/dr/understandable@2x.png') no-repeat top center;background-size:64px;}
	#dr5{background:url('../img/dr/unobtrusive@2x.png') no-repeat top center;background-size:64px;}
	#dr6{background:url('../img/dr/honest@2x.png') no-repeat top center;background-size:64px;}
	#dr7{background:url('../img/dr/longlasting@2x.png') no-repeat top center;background-size:64px;}
	#dr8{background:url('../img/dr/thorough@2x.png') no-repeat top center;background-size:64px;}
	#dr9{background:url('../img/dr/environmental@2x.png') no-repeat top center;background-size:64px;}
	#dr10{background:url('../img/dr/littledesign@2x.png') no-repeat top center;background-size:64px;}
	
	#paintCan{background:url('../img/paintCan@2x.jpg') no-repeat top center #fff;background-size:216px 222px;}
	
	#designPoster{background:url('../img/dylan-glaser@2x.jpg') no-repeat;background-size:320px 487px;}
	#ixdGraphic{background:url('../img/ux-verplank@2x.jpg') no-repeat;background-size:295px 393px;}
	#uxDesign{background:url('../img/tapbots@2x.jpg') no-repeat;background-size:294px 359px;}
	#industrialDesign{background:url('../img/pantonChair@2x.jpg') no-repeat;background-size:253px 290px;}

	.df_DaveMorin{background:url('../img/df_DaveMorin@2x.jpg') no-repeat;background-size:200px;}
	.df_JoeGebbia{background:url('../img/df_JoeGebbia@2x.jpg') no-repeat;background-size:200px;}
	.df_JackDorsey{background:url('../img/df_JackDorsey@2x.jpg') no-repeat;background-size:200px;}
	.df_MikeMatas{background:url('../img/df_MikeMatas@2x.jpg') no-repeat;background-size:200px;}
	.df_JeffVeen{background:url('../img/df_JeffVeen@2x.jpg') no-repeat;background-size:200px;}

	.tw{background:url('../img/rogieSocial/twitter@2x.png') no-repeat;background-size:32px;}
	.db{background:url('../img/rogieSocial/dribbble@2x.png') no-repeat;background-size:32px;}
	.www{background:url('../img/rogieSocial/link@2x.png') no-repeat;background-size:32px;}
	.zp{background:url('../img/rogieSocial/zerply@2x.png') no-repeat;background-size:32px;}
	.path{background:url('../img/rogieSocial/path@2x.png') no-repeat;background-size:32px;}
	.airb{background:url('../img/rogieSocial/airbnb@2x.png') no-repeat;background-size:32px;}
	.pushp{background:url('../img/rogieSocial/pushpop@2x.png') no-repeat;background-size:32px;}
	.tkit{background:url('../img/rogieSocial/typekit@2x.png') no-repeat;background-size:32px;}
	.crunch{background:url('../img/rogieSocial/crunchbase@2x.png') no-repeat;background-size:32px;}
	.square{background:url('../img/rogieSocial/square@2x.png') no-repeat;background-size:32px;}
	
	#navButtons .prev{background:url('../img/prev@2x.png') no-repeat top;background-size:32px;background-position:left;}
	#navButtons .next{background:url('../img/next@2x.png') no-repeat top;background-size:32px;background-position:right;}

	
	#triforceDrag{background:url('../img/link@2x.gif') no-repeat;background-size:112px 208px;}
	#triforceDrop{background:url('../img/triforceIncomplete@2x.jpg') no-repeat;background-size:160px 160px !important;}
	
	#killerCombo{font-size:0;}
	
	#linkSword{background:url('../img/linkSword@2x.png') no-repeat;background-size:291px 108px;}
	#triforceDropz{-webkit-box-shadow:none;}
	#linkLike{background:url('../img/linkSwordBg@2x.png') no-repeat;background-size:291px 108px;}

	

	#plancastLogo{
		background:url('../img/plancast_logo@2x.png') no-repeat;
		background-size:50px 61px;
		}
	#meetupLogo{
		background:url('../img/meetup_logo@2x.png') no-repeat;
		background-size:89px 61px;
		}
	#eventbriteLogo{
		background:url('../img/eventbrite_logo@2x.png') no-repeat;
		background-size:55px 61px;
		}
	#zerplyLogo{
		background:url('../img/zerply_logo@2x.png') no-repeat;
		background-size:228px 82px;
		}
	#dribbbleLogo{
		background:url('../img/dribbble_logo@2x.png') no-repeat;
		background-size:253px 64px;
		}
	#behanceLogo{
		background:url('../img/behance_logo@2x.png') no-repeat center center;
		background-size:246px 142px;
		}

	#unicorn{background:url('../img/unicorn@2x.png') no-repeat top center;background-size:253px 257px;}

	#TDF{background:url('../img/rsrc_designerFund@2x.jpg') no-repeat;background-size:170px 170px;}
		#TDF:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_designerFund@2x.jpg') no-repeat;background-size:170px 170px;}
	#CM{background:url('../img/rsrc_creativeMornings@2x.jpg') no-repeat;background-size:170px 170px;}
		#CM:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_creativeMornings@2x.jpg') no-repeat;background-size:170px 170px;}
	#TDO{background:url('../img/rsrc_designObserver@2x.jpg') no-repeat;background-size:170px 170px;}
		#TDO:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_designObserver@2x.jpg') no-repeat;background-size:170px 170px;}
	#ALA{background:url('../img/rsrc_aListApart@2x.jpg') no-repeat;background-size:170px 170px;}
		#ALA:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_aListApart@2x.jpg') no-repeat;background-size:170px 170px;}
	#SM{background:url('../img/rsrc_swissMiss@2x.jpg') no-repeat;background-size:170px 170px;}
		#SM:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_swissMiss@2x.jpg') no-repeat;background-size:170px 170px;}
	#ILT{background:url('../img/rsrc_iLoveTypography@2x.jpg') no-repeat;background-size:170px 170px;}
		#ILT:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_iLoveTypography@2x.jpg') no-repeat;background-size:170px 170px;}
		
	#TK{background:url('../img/rsrc_typeKit@2x.jpg') no-repeat;background-size:170px 170px;}
		#TK:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_typeKit@2x.jpg') no-repeat;background-size:170px 170px;}
	#GA{background:url('../img/rsrc_generalAssembly@2x.jpg') no-repeat;background-size:170px 170px;}
		#GA:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_generalAssembly@2x.jpg') no-repeat;background-size:170px 170px;}
	#OCTB{background:url('../img/rsrc_ourChoice@2x.jpg') no-repeat;background-size:170px 170px;}
		#OCTB:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_ourChoice@2x.jpg') no-repeat;background-size:170px 170px;}
	#TKG{background:url('../img/rsrc_kerningGame@2x.jpg') no-repeat;background-size:170px 170px;}
		#TKG:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_kerningGame@2x.jpg') no-repeat;background-size:170px 170px;}
	#DBBB{background:url('../img/rsrc_dribbble@2x.jpg') no-repeat;background-size:170px 170px;}
		#DBBB:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_dribbble@2x.jpg') no-repeat;background-size:170px 170px;}
	#HEL{background:url('../img/rsrc_helvetica@2x.jpg') no-repeat;background-size:170px 170px;}
		#HEL:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_helvetica@2x.jpg') no-repeat;background-size:170px 170px;}
	
	#SMAG{background:url('../img/rsrc_smashingMagazine@2x.jpg') no-repeat;background-size:170px 170px;}
		#SMAG:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_smashingMagazine@2x.jpg') no-repeat;background-size:170px 170px;}
	#OBJ{background:url('../img/rsrc_objectified@2x.jpg') no-repeat;background-size:170px 170px;}
		#OBJ:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_objectified@2x.jpg') no-repeat;background-size:170px 170px;}
	#TED{background:url('../img/rsrc_ted@2x.jpg') no-repeat;background-size:170px 170px;}
		#TED:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_ted@2x.jpg') no-repeat;background-size:170px 170px;}
	#ZRP{background:url('../img/rsrc_zerply@2x.jpg') no-repeat;background-size:170px 170px;}
		#ZRP:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_zerply@2x.jpg') no-repeat;background-size:170px 170px;}
	#C77{background:url('../img/rsrc_core77@2x.jpg') no-repeat;background-size:170px 170px;}
		#C77:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_core77@2x.jpg') no-repeat;background-size:170px 170px;}
	#FIVE{background:url('../img/rsrc_500@2x.jpg') no-repeat;background-size:170px 170px;}
		#FIVE:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_500@2x.jpg') no-repeat;background-size:170px 170px;}
	
	#AIGA{background:url('../img/rsrc_aiga@2x.jpg') no-repeat;background-size:170px 170px;}
		#AIGA:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_aiga@2x.jpg') no-repeat;background-size:170px 170px;}
	#ATP{background:url('../img/rsrc_aTypePrimer@2x.jpg') no-repeat;background-size:170px 170px;}
		#ATP:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_aTypePrimer@2x.jpg') no-repeat;background-size:170px 170px;}
	#LTC{background:url('../img/rsrc_lostType@2x.jpg') no-repeat;background-size:170px 170px;}
		#LTC:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_lostType@2x.jpg') no-repeat;background-size:170px 170px;}
	#THR{background:url('../img/rsrc_37signals@2x.jpg') no-repeat;background-size:170px 170px;}
		#THR:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_37signals@2x.jpg') no-repeat;background-size:170px 170px;}
	#GOOD{background:url('../img/rsrc_good@2x.jpg') no-repeat;background-size:170px 170px;}
		#GOOD:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_good@2x.jpg') no-repeat;background-size:170px 170px;}
	#BH{background:url('../img/rsrc_behance@2x.jpg') no-repeat;background-size:170px 170px;}
		#BH:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_behance@2x.jpg') no-repeat;background-size:170px 170px;}
	#BBETA{background:url('../img/rsrc_bbeta@2x.jpg') no-repeat;background-size:170px 170px;}
		#BBETA:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_bbeta@2.jpg') no-repeat;background-size:170px 170px;}
	#BBSC{background:url('../img/rsrc_bbsc@2x.jpg') no-repeat;background-size:170px 170px;}
		#BBSC:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_bbsc@2.jpg') no-repeat;background-size:170px 170px;}
	#DTB{background:url('../img/rsrc_dtb@2x.jpg') no-repeat;background-size:170px 170px;}
		#DTB:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_dtb@2x.jpg') no-repeat;background-size:170px 170px;}
	#FOLYO{background:url('../img/rsrc_folyo@2x.jpg') no-repeat;background-size:170px 170px;}
		#FOLYO:hover{background:url('../img/hover_bg.png') repeat, url('../img/rsrc_folyo@2x.jpg') no-repeat;background-size:170px 170px;}
		
	.socialShare .shareFb{
		background:url('../img/shareFb@2x.png') no-repeat;
		background-size:121px 138px;
		width:130px;
	}
	.socialShare .shareTw{
		background:url('../img/shareTw@2x.png') no-repeat;
		background-size:121px 138px;
		width:130px;
	}
	.socialShare .shareCount{
		background:url('../img/shareBubble@2x.png') no-repeat;
		background-size:75px 46px;
	}
	.socialShareSmall .shareFb{
		background:url('../img/shareFb.png') no-repeat;
		background-size:61px 69px;
		width:61px;
	}
	.socialShareSmall .shareTw{
		background:url('../img/shareTw.png') no-repeat;
		background-size:61px 69px;
		width:61px;
	}
	.socialShareSmall .shareCount{
		background:url('../img/shareBubble.png') no-repeat;
		background-size:50px 23px;
	}
}