/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

/* -- Fonts -- */
@font-face {
    font-family: 'CubanoRegular';
    src: url('cubano/cubano-regular-webfont.eot');
    src: url('cubano/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cubano/cubano-regular-webfont.woff') format('woff'),
         url('cubano/cubano-regular-webfont.ttf') format('truetype'),
         url('cubano/cubano-regular-webfont.svg#CubanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('pacifico/Pacifico-webfont.eot');
    src: url('pacifico/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('pacifico/Pacifico-webfont.woff') format('woff'),
         url('pacifico/Pacifico-webfont.ttf') format('truetype'),
         url('pacifico/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* -- */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family:Helvetica, arial, sans-serif; color: #252525; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/*::-moz-selection { background: #f0f; color: #ff0; text-shadow: none; }
::selection { background: #f0f; color: #ff0; text-shadow: none; }*/

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #f75c26; }
a:focus { }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin:0; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* -- Columns -- */

.col1{width:150px;min-height:1px;float:left;padding:0 10px;}
.col2{width:320px;min-height:1px;float:left;padding:0 10px;}
.col3{width:490px;min-height:1px;float:left;padding:0 10px;}
.col4{width:660px;min-height:1px;float:left;padding:0 10px;}
.col5{width:830px;min-height:1px;float:left;padding:0 10px;}
.col6{width:1000px;min-height:1px;float:left;padding:0 10px;}
.colL{padding-left:0 !important;}
.colR{padding-right:0 !important;}
.clear { clear: both; }

.right{float:right !important;}
.noPadding{padding:0 !important;}

em{font-weight:bold;}
b{color:#444;}

sup a{color:#1f7291 !important;font-weight:bold;}
	sup a:hover{color:#000 !important;}

/* ===== Primary Styles ===== */

/* -- Global Wrappers -- */
.globalWrapper{
	width:1000px;
	padding:0 10px;
	margin:0 auto;
	}
	
	p,blockquote{	
		font-family:'Crimson Text', serif;
		font-weight:400;
		font-size:18px;
		color:#252525;
		line-height:24px;
		}
	blockquote{
		text-indent:-0.32em;
		}

	div.section{
		color:#fff;
		font-size:10px;
		background:#ed1c24;
		width:22px;
		height:17px;
		border-radius:11px;
		text-align:center;
		padding-top:5px;
		}

/* -- Table of Contents -- */
#tableOfContents{  
	width:320px;
	color:#fff;
	float:left;
	position: fixed;
	z-index:9998;
	font-size:13px;
	font-weight:normal;
	}
	
	#tableOfContents h2{
		font-family:"Helvetica",Arial,sans-serif;
		padding:0;
		font-size:13px;
		font-weight:lighter;
		margin:0 !important;
		line-height:18px;
		z-index:9999;
		position: relative;
		background:#ed1c24;
		}
		#tableOfContents h2 a{
			background:url('../img/tocArrow.jpg') no-repeat top left;
			padding:8px 0 8px 50px;
			width:270px;
			display:block;
			}
			#tableOfContents h2 a:hover{
				background:url('../img/tocArrow.jpg') no-repeat top left #ca0c13;
				background-position:0 -36px;
				}
	
	#tableOfContents a{
		color:#fff;
		text-decoration:none;
		width:280px;
		padding:6px 10px;
		margin:0;
		display:block;
		}
		#tableOfContents a:hover{
			background:#333;
			}
					
	#tableOfContents dl{
		margin:0;
		overflow: hidden;
		position:absolute;
		top:0;
		background:url('../img/tocbg.jpg') repeat-y left #000;
		visibility: hidden;
		padding:0 0 20px 40px;
		width:280px;
		z-index:9998;
		}
		#tableOfContents dl.closed{}
		
	#tableOfContents dt{
		padding:0;
		font-weight:bold;
		}
	
	.subsectionContent{
		display: none;
		}
		
	.subsectionContent dd a{
		color:#ddd !important;
		padding-left:25px !important;
		}

.socialSharing{ float:right;list-style-type: none;}

.platform{
	float:left;
	margin:0 0 0 20px;
	padding:0;
	width:80px;
	}

/* -- Header -- */

h1{
	font-family: 'Raleway', cursive;
	font-size:110px;
	color:#656565;
	font-weight:100;
	line-height:120px;
	float:left;
	margin-bottom:40px;
	}

#author{
	float:right;
	margin:-95px 60px 0 0;
	font-size:11px;
	}


/* -- Global Page Styles -- */

h2{
	font-family: 'Raleway', cursive;
	font-weight:100;
	color:#656565;
	font-size:100px;
	line-height:120px;
	margin:0 0 80px;
	}

h3{
	font-family:'Crimson Text', serif;
	font-weight:400;
	font-size:31px;
	line-height:normal;
	color:#000;
	letter-spacing:-1px;
	margin:-12px 0 10px;
	}

h4{
	font-family:"Helvetica",sans-serif;
	font-size:14px;
	color:#ed1c24;
	font-weight:bold;
	line-height:25px;
	letter-spacing:normal;
	margin:0 0 30px;
	}

p.text{
	}

p.subText{
	color:#6a6a6a;
	font-size:15.5px;
	line-height:19px;
	margin:10px 0;
	}

/* -- Section 1 -- */
#section1 h2{
	font-family:'Crimson Text', serif;
	font-weight:400;
	font-size:31px;
	line-height:normal;
	color:#000;
	letter-spacing:-1px;
	margin:-12px 0 10px;
	}
	.phonetic{
		color:#bababa;
		font-style:italic;
		}

.largeSpace{
	margin:80px 0;
	}

#dieterRamsPhoto{
	width:257px;
	height:257px;
	margin:0 auto;
	float:left;
	}
	
.principles{
	list-style-type: none;
	margin-bottom:80px;
	}
	.principles li{
		float:left;
		margin:10px 5px;
		background:#fafafa;
		border-radius:9px;
		border:4px solid #fff;
		box-shadow:0 1px 3px #ddd;
		}
		.principles li:hover{
			background:#fff;
			box-shadow:0 2px 4px #bbb;
			}
	.principles h3{
		font-family:"Helvetica",sans-serif;
		font-size:14px;
		color:#ed1c24;
		font-weight:bold;
		line-height:normal;
		letter-spacing:normal;
		}
		.principles p{
			display:none;
			font-family:'Crimson Text', serif;
			font-weight:400;
			font-size:14px;
			color:#3f3f3f;
			line-height:15px;
			}
			
	.principles li a{
		padding:78px 0 20px;
		width:148px;
		height:22px;
		margin-top:25px;
		text-align:center;
		display:block;
		text-decoration:none;
		color:#454545;
		}
		.principles li a:hover{
			
			}
	#dr1{background:url('../img/dr/innovative.png') no-repeat top center;}
	#dr2{background:url('../img/dr/useful.png') no-repeat top center;}
	#dr3{background:url('../img/dr/aesthetic.png') no-repeat top center;}
	#dr4{background:url('../img/dr/understandable.png') no-repeat top center;}
	#dr5{background:url('../img/dr/unobtrusive.png') no-repeat top center;}
	#dr6{background:url('../img/dr/honest.png') no-repeat top center;}
	#dr7{background:url('../img/dr/longlasting.png') no-repeat top center;}
	#dr8{background:url('../img/dr/thorough.png') no-repeat top center;}
	#dr9{background:url('../img/dr/environmental.png') no-repeat top center;}
	#dr10{background:url('../img/dr/littledesign.png') no-repeat top center;}
	
#sec1Summary{
	text-align:left;
	width:1000px;
	background:#efefef;
	padding:30px 0 0;
	margin:120px auto;
	height:192px;
	}
	#sec1Summary p{
		margin-top:0px;
		color:#000;
		}
	#paintCan{
		background:url('../img/paintCan.jpg') no-repeat top center #fff;
		width:320px;
		height:222px;
		margin-top:-30px;
		}
		p.caption{
			float:right;
			font-style:italic;
			font-size:13px;
			margin-top:0 !important;
			line-height:14px;
			text-align:right;
			color:#bbb !important;
			}
			p.caption a{
				color:#bbb;
				}
				p.caption a:hover{color:#000;}

#objVideo{
	margin:-45px 0 120px;
	}
	
.slideshow{
	margin:0 auto;
	}


/* -- Section 2 -- */
#section2{
	margin:200px 0 150px;
	}
	
#designPoster{
	margin-top:35px;
	}
#ixdGraphic{
	margin:65px 0 80px 14px;
	}
#uxDesign{
	margin-top:62px;
	}
#industrialDesign{
	margin-top:100px;
	}

/* -- Section 3 -- */
#section3{
	height:2304px; /* (x * 72) */
	background:url('../img/sec3bg.jpg') repeat #f9f9f9;
	padding:72px 0;
	}

#sec3bottom{
	height:145px;
	background:url('../img/sec3bottom.jpg') repeat-x #f9f9f9;
	}
#sec3top{
	height:144px;
	background:url('../img/sec3top.jpg') repeat-x #f9f9f9;
	margin:0;
	padding:0;
	}

#section3 .chart{
	height:430px;
	margin:20px 0 100px;
	}

/* -- Section 4 -- */
#section4{
	margin-top:100px;
	}

/*
#section4 h2{
	color:#ee621c;
	font-family:"CubanoRegular","Helvetica",sans-serif;
	font-size:55px;
	font-weight:normal;
	margin:-30px 0 0;
	}
*/

/*
#section4 h3{
	color:#ee621c;
	font-family:"CubanoRegular","Helvetica",sans-serif;
	font-size:24px;
	font-weight:normal;
	letter-spacing: normal;
	}
*/

#triforce{
	margin:100px 0 150px;
	}
	#triforceDrag{
		float:left;
		width:200px;
		height:208px;
		margin-left:80px;
		margin-top:80px;
		background:url('../img/link.gif') no-repeat;
		text-align:right;
		}
	#triforceDrop{
		width:160px;
		height:160px;
		background:url('../img/triforceIncomplete.jpg') no-repeat top center;
		display:block;
		float:right;
		margin-right:120px;
		padding:0 40px 130px;
		}
		#triforceDropz{
			-webkit-box-shadow: #faaa3b 0 0 0,#faaa3b 0 0 0,#faaa3b 0 0 0; 
   			width:80px;
    		height:80px;
    		border-radius:80px;
    		margin:65px 0 0 40px;
			}
		#dragText{
			font-family:"CubanoRegular","Helvetica",sans-serif;
			color:#ddd;
			font-size:18px;
			}



#totalWrapper{
	width:100%;
	position:absolute;
	text-align:center;
	background:#efefef;
	height:730px;
	left:0;
	margin-top:40px;
	}
#founderThumbsBg{
	width:100%;
	background:#212121;
	left:0;
	height:200px;
	position:absolute;
	}
#scroll{
	width:1000px;
	text-align:center;
	overflow:hidden;
	height:700px;
	position:relative;
	margin:0 auto;
	}

#designerFounders{
	width:1000px;
	padding:0;
	margin:0 auto;
	}
	#designerFounders li{
		display:block;
		width:200px;
		height:200px;
		float:left;
		}
	#designerFounders p{
		text-align:center;
		font-family:"CubanoRegular","Helvetica",sans-serif;
		font-size:20px;
		color:#fff;
		padding:0;
		margin:10px;
		}
	.df_DaveMorin{	
		background:url('../img/df_DaveMorin.jpg') no-repeat;
		}
	.df_JoeGebbia{	
		background:url('../img/df_JoeGebbia.jpg') no-repeat;
		}
	.df_JessicaHische{	
		background:url('../img/df_JessicaHische.jpg') no-repeat;
		}
	.df_MikeMatas{	
		background:url('../img/df_MikeMatas.jpg') no-repeat;
		}
	.df_JeffVeen{	
		background:url('../img/df_JeffVeen.jpg') no-repeat;
		}
		
		#designerFounders a{
			display:block;
			width:200px;
			height:140px;
			padding-top:60px;
			background:url('../img/hover_bg2.png') repeat;
			text-indent:-9999px;
			}
			#designerFounders a:hover{
				background:url('../img/hover_bg.png') repeat;
				text-decoration:none;
				text-indent:0;
				}
			#designerFounders .active a{
				background:none;
				text-decoration:none;
				height:133px;
				border-bottom:7px solid #ed1c24;
				cursor:pointer;
				}
			
			#designerFounders a:hover{
				text-decoration:none;
				height:133px;
				border-bottom:7px solid #ed1c24;
				cursor:pointer;
				}
			
				#designerFounders .active a:hover{
					background:none !important;
					text-indent:-9999px;
					}

#founderBios{
	width:9999em;
	position:absolute;
	height:700px;
	margin-top:30px;
	}

.founderBio{
	text-align:left;
	width:1000px;
	padding:0 10px;
	float:left;
	}
	.founderBio h3{
		float:left;
		width:350px;
		margin:-33px 0 0 35px;
		}	
	.founderBio .section{
		float:left;
		margin-top:5px;
		}
	.founderBio iframe, .founderBio object, .founderBio embed{
		margin-top:25px;
		}
			
	/* -- Social Link Buttons -- */
	/* Icons designed by Rogie King: http://www.finegoodsmarket.com/ -- */
	.socialLinks{
		list-style-type:none;
		margin:0;
		padding:0;
		}
	.socialLinks li{
		float:left;
		margin-right:30px;
		}
	.socialLinks li a{
		text-indent:-9999px;
		display:block;
		width:32px;
		height:32px;
		margin-bottom:1px;
		}
		.socialLinks li a:hover{
			margin:1px 0 0;
			}
	.tw{background:url('../img/rogieSocial/twitter.png') no-repeat;}
	.db{background:url('../img/rogieSocial/dribbble.png') no-repeat;}
	.www{background:url('../img/rogieSocial/link.png') no-repeat;}
	.zp{background:url('../img/rogieSocial/zerply.png') no-repeat;}
	.path{background:url('../img/rogieSocial/path.png') no-repeat;}
	.airb{background:url('../img/rogieSocial/airbnb.png') no-repeat;}
	.pushp{background:url('../img/rogieSocial/pushpop.png') no-repeat;}
	.tkit{background:url('../img/rogieSocial/typekit.png') no-repeat;}

	#navButtons{
		position:relative;
		float:right;
		margin-top:450px;
		}
		#navButtons div{
			float:left;
			height:32px;
			font-family:"CubanoRegular","Helvetica",sans-serif;
			font-size:14px;
			color:#666;
			padding:14px 40px 0;
			}
			#navButtons div:hover{
				margin-top:1px;
				cursor:pointer;
				}
			#navButtons .prev{
				background:url('../img/prev.png') no-repeat top;
				background-position: left;
				}
			#navButtons .next{
				background:url('../img/next.png') no-repeat top;
				background-position:right;
				}

#linkSword{
	margin-top:50px;
	position:relative;
	z-index:999;
	}
#linkLike{
	position:relative;
	z-index:-1;
	margin-top:-60px;
	}

.oversize{
	font-size:23px;
	line-height:28px;
	color:#444;
	}

/* -- Section 5 -- */
#sec5top{
	background:url('../img/sec5top.jpg') repeat-x;
	height:81px;
	margin-top:150px;
	}
#sec5bottom{
	background:url('../img/sec5bottom.jpg') repeat-x;
	height:81px;
	margin:0;
	padding:0;
	}
#section5{
	background:url('../img/sec5bg.jpg') repeat;
	margin:0;
	padding:50px 0 0;
	height:2386px;
	}

p{
	color:#555;
	}

.orangeLinks a{
	color:#f75c26;
	}
	.orangeLinks a:hover{
		color:#000;
		}

.goToDesigners{
	text-align:center;
	height:82px;
	margin:80px 0 40px;
	}
	.goToDesigners img{
		margin-bottom:1px;
		}
		.goToDesigners img:hover{
			margin:1px 0 0;
			}

#resources{
	list-style-type:none;
	width:1020px;
	margin:40px 0 0 -50px;
	}
	#resources li{
		float:left;
		}
	#resources img:hover{
		-webkit-transition: -webkit-transform 0.2s ease,-webkit-box-shadow 0.2s ease;
		-webkit-transform:scale(1.05);
		-webkit-box-shadow:0 15px 20px #000;
		-moz-transition: -moz-transform 0.2s ease,-moz-box-shadow 0.2s ease;
		-moz-transform:  scale(1.05);
		-moz-box-shadow:0 15px 20px #000;
		}

/* -- Section 6 -- */
#section6{
	background:url('../img/sec6bg.png') repeat;
	width:967px;
	margin:-150px 0 120px -10px;
	border:3px solid #fff;
	border-radius:3px;
	box-shadow:0 1px 2px #999;
	padding:24px;
	min-height:326px;
	}

#section6 h2{
	font-family: 'Raleway', cursive;
	font-size:54px;
	float:left;
	margin:0;
	line-height:normal;
	}

#section6 .me{
	margin-top:20px;
	box-shadow:0 1px 2px #bbb;
	}

/* -- Section 7 -- */
#section7{
	}
#section7 h2{
	font-size:48px;
	line-height:normal;
	}

.acknowledgements{
	list-style-type:none;
	color:#666;
	margin:0;
	padding:0;
	}
	.acknowledgements li{
		margin-bottom:10px;
		}

#section7 p{
	font-family:"Helvetica",sans-serif;
	color:#666;
	font-size:15px;
	margin:127px 0 -8px;
	}
#section7 ol{
	margin-left:0;
	padding-left:0;
	color:#ccc;
	}
#section7 li{
	font-size:15px;
	margin-bottom:10px;
	}
	#section7 li:target{
		background:#def;
		border-radius:0 12px 12px 0;
		}
		#section7 li:target a{
			color:#335c8d;
			}
		#section7 li:target + a{
			display:block;
			}
	#section7 li a{
		color:#666;
		text-decoration:none;
		}
		#section7 li a:hover{
			color:#000;
			text-decoration:underline;
			}
		#section7 .jumpBack{
			display:none;
			float:left;
			margin:-31px 0 0 -120px;
			padding:2px 10px;
			font-size:12px;
			color:#335c8d;
			background:#def;
			border-radius:12px 0 0 12px;
			text-decoration:none;
			}
			#section7 .jumpBack:hover{
				color:#000;
				text-decoration:underline;
				}

/* -- Footer -- */
footer{
	width:1000px;
	margin:100px auto 30px;
	padding-top:30px;
	color:#666;
	font-size:14px;
	border-top:1px solid #ddd;
	}


/* -- Tooltips -- */
.tip{
	background:url('../img/highlight.png') repeat;
	padding:1px 2px;
	text-decoration:none;
	margin:0 -2px;
	color:inherit;
	}
	.tip.dark{
		background:url('../img/highlight_dark.png') repeat;
		}
	.tip:hover{
		text-decoration:none;
		color:#746d00;
		}

.ui-tooltip{
	border:4px solid #fff;
	border-radius:5px;
	}

.ui-tooltip-wiki{
	max-width: 600px;
}

	.ui-tooltip-wiki .ui-tooltip-content{
		padding:0 25px 20px;
		background-color:#f9f9f9 !important;
		border:0;
	}
	
	.ui-tooltip-wiki .tooltip-content{
		float:left;
		}
	
	
	.ui-tooltip-wiki h6{
		font-family: 'Raleway', cursive;
		font-size:30px;
		color:#333;
		font-weight:100;
		margin:10px 0 30px;
	}
	
	.ui-tooltip-wiki p, .ui-tooltip-wiki li{
		font-family:'Crimson Text', serif;
		font-size:16px;
		line-height:18px;
		color:#666;
		margin-left:222px;
		}
		.ui-tooltip p.principleContent{
		margin-left:0;
		width:210px;
			}
	
	.ui-tooltip-wiki ul{
		margin:0 0 30px -20px;
		}
	
	.ui-tooltip-wiki img{
		float:left;
		margin-top:50px;
		padding: 0 30px 0 0;
	}
	.ui-tooltip-titlebar{
		background:#f9f9f9 !important;
		border:0;
		}


/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
